<div class="parent">
  @if ((isLoadingList$|async)) {
    <mat-spinner></mat-spinner>
  }
  @for ((op of opList$|async); track $index) {
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <img mat-card-avatar class="example-header-image" [src]="op.filename" alt="avatar"/>
        <mat-card-title>{{ op.name }}</mat-card-title>
        <mat-card-subtitle>{{ op.roman_name }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="op.filename" alt="Photo of a op">
      <mat-card-content>
        <p>
          {{ op.description }}
        </p>
      </mat-card-content>
    </mat-card>

  }
</div>
